<div class="show-container">
  <div class="show-col-left">
    <h2><%= @pizza.name %></h2>
    <p><%= @pizza.description %></p>
    <p><%= @pizza.price %></p>
  </div>
  <div class="show-col-right">
    <%= cl_image_tag @pizza.photo.key, class: "show-img" %>
  </div>
</div>
<div class="links">
  <%= link_to 'Back', pizzas_path, class: "btn btn-dark" %>
  <%= link_to 'Order Pizza', new_pizza_order_path(@pizza), class: "btn btn-dark" %>
</div>
