<div class="show-container">
  <div class="show-col-left">
    <h2><%= @merch.name %></h2>
    <p>£<%= @merch.price %></p>
  </div>
  <div class="show-col-right">
    <%= cl_image_tag @merch.photo.key, class: "show-img" %>
  </div>
</div>
<div class="links">
  <%= link_to 'Back', merch_path, class: "btn btn-dark" %>
  <%= link_to 'Order Merch', '#', class: "btn btn-dark" %>
</div>
